body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  text-align: center;
  padding: 50px;
  
  
}


.subtitle {
  color: #555;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background: white;
  width: 260px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

.card button {
  padding: 10px;
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background: #1d4ed8;
}
